<!--EDİTOR DETAY-->

@model MyBlog.Models.BlogPost


@{
    ViewData["Title"] = "Blog Post Details";
}
<link rel="stylesheet" href="~/css/GeneralStyle.css" />
<!-- Font Awesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<!-- Bootstrap -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<!-- Css -->
<link rel="stylesheet" href="~/css/site.css" />

<style>
    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

        .button a {
            margin: 0 5px; /* Her bir butonun sağ ve sol tarafına 5px boşluk bırak */
        }

    .box {
        margin-bottom: 20px;
    }

        .box img {
            width: 700px; /* Resimlerin kart içinde genişliği %100 olsun */
            height: auto; /* Yüksekliği otomatik ayarla */
            margin-bottom: 10px; /* Resimler arasına boşluk bırak */
            border-radius: 20px;
            display: block; /* Resmi blok element olarak ayarla */
            margin: 0 auto; /* Resmi yatayda ortala */
        }

</style>


<div class="box">
    <h1>@Model.Title</h1>
    <p>@Model.Author - @Model.CreatedAt.ToString("yyyy-MM-dd")</p>

    <div>
        @Html.Raw(Model.Content) <!-- CKEditor içeriğini doğru şekilde render eder -->
    </div>

<hr />



<div class="button">
    <a asp-action="Index" class="btn btn-secondary">Listeye Geri Dön</a>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Düzenle</a>
    <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Sil</a>
</div>
</div>