@model IEnumerable<MyBlog.Models.Comment>

@{
    ViewData["Title"] = "My Comments";
}

<!-- Font Awesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<!-- Bootstrap -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<!-- Css -->
<link rel="stylesheet" href="~/css/site.css" />


<style>
    .box {
        background-color: rgba(211, 211, 211, 0.7);
        border-radius: 60px;
        padding: 20px;
    }
        
    h2{
        text-align: center;
        color: white;
    }

    .baslik {
        width: 20%;
    }

    .yazar {
        width: 15%;
    }

    .zaman {
        width: 12%;
    }

    .yorum{
        width: 37%;
    }

    .aksiyon {
        width: 15%;
        
        margin-right:10px;
    }
  
</style>


<div class="box">

<h2>Yorumlarım</h2>

<table class="table">
    <thead>
        <tr>
            <th class="baslik">Blog Başlığı</th>
            <th class="yazar">Yazar</th>
            <th class="zaman">Yorum Tarihi</th>
            <th class="yorum">Yorum</th>
            <th class="aksiyon">Aksiyon</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var comment in Model)
        {
            <tr>
                <td>
                        <a asp-controller="User" asp-action="Details" asp-route-id="@comment.BlogPost.Id">
                            @comment.BlogPost.Title
                        </a>
                </td>
                <td>@comment.BlogPost.Author</td>
                <td>@comment.CreatedAt.ToString("dd-MM-yyyy")</td>
                <td>@comment.Content</td>
                <td>
                    <a class="btn btn-primary" asp-action="EditComment" asp-route-id="@comment.Id">Düzenle</a>
                    <form asp-action="DeleteComment" method="post" style="display:inline;">
                        <input type="hidden" name="id" value="@comment.Id" />
                            <input type="hidden" name="returnUrl" value="@Url.Action("MyComments")" />
                            <button type="submit" class="btn btn-danger" onclick="return confirm('Bu yorumu silmek istediğinizden emin misiniz?')">Sil</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
</div>