@model IEnumerable<MyBlog.Models.Comment>
@foreach (var comment in Model)
{
    <div class="card mb-3">
        <div class="card-body">
            <p class="card-text comment-content">@comment.Content</p>
            <small class="text-muted">Yorum Yapan: @comment.User.UserName - @comment.CreatedAt.ToString("yyyy-MM-dd HH:mm")</small>
            @if (User.Identity.Name == comment.User.UserName || User.IsInRole("Admin"))
            {
                <div class="d-flex justify-content-end">
                    <button type="button" class="btn btn-primary edit-comment" data-comment-id="@comment.Id">Düzenle</button>
                    <form asp-action="DeleteComment" asp-controller="BlogComments" method="post" class="ml-1">
                        <input type="hidden" name="id" value="@comment.Id" />
                        <button type="submit" class="btn btn-danger" onclick="return confirm('Yorumu silmek istediğinizden emin misiniz?')">Sil</button>
                    </form>
                </div>
            }
        </div>
    </div>
}
