<!--ADMİN DETAY-->
@using X.PagedList
@using X.PagedList.Mvc.Core

@model MyBlog.Models.BlogPostCommentsViewModel

@{
    ViewData["Title"] = "Blog Post Details";
}

<link rel="stylesheet" href="~/css/GeneralStyle.css" />
<!-- Font Awesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<!-- Bootstrap -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<style>
    .button {
        display: flex;
        justify-content: center;
        align-items: center;
    }

        .button a {
            margin: 0 5px; /* Her bir butonun sağ ve sol tarafına 5px boşluk bırak */
        }

    .box {
        margin-bottom: 20px;
    }

        .box img {
            width: 700px; /* Resimlerin kart içinde genişliği %100 olsun */
            height: auto; /* Yüksekliği otomatik ayarla */
            margin-bottom: 10px; /* Resimler arasına boşluk bırak */
            border-radius: 20px;
            display: block; /* Resmi blok element olarak ayarla */
            margin: 0 auto; /* Resmi yatayda ortala */
        }

</style>


<div class="box">
<h1>@Model.BlogPost.Title</h1>

    <p><strong>Yazar:</strong> @Model.BlogPost.Author</p>
    <p><strong>Oluşturulma Zamanı:</strong> @Model.BlogPost.CreatedAt.ToString("g")</p>
    <div>
        @Html.Raw(Model.BlogPost.Content) <!-- CKEditor içeriğini doğru şekilde render eder -->
    </div>

<div class="button">
    <a asp-action="Index" class="btn btn-secondary">Listeye Geri Dön</a>
        <a asp-action="EditPost" asp-route-id="@Model.BlogPost.Id" class="btn btn-primary">Düzenle</a>
        <a asp-action="DeletePost" asp-route-id="@Model.BlogPost.Id" class="btn btn-danger">Sil</a>
</div>
<hr/>
<h2>Yorumlar</h2>
    <div id="commentsContainer">
        @Html.Partial("_CommentsPartial", Model.PagedComments)

    </div>

    @if (Model.PagedComments.HasNextPage)
    {
        <button id="loadMoreComments" class="btn btn-secondary" data-page="2" data-post-id="@Model.BlogPost.Id">Daha Fazla Yükle</button>
    }
    @section Scripts {
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script>
            $(document).ready(function () {
                $('#loadMoreComments').click(function () {
                    var button = $(this);
                    var page = button.data('page');
                    var postId = button.data('post-id');

                    $.get('@Url.Action("Details", "User")', { id: postId, page: page }, function (data) {
                        $('#commentsContainer').append(data);
                        button.data('page', page + 1);

                        if (data.trim() === '') {
                            button.hide();
                        }
                    });
                });
            });
        </script>
    }
</div>
